# Project_On
# Global Superstore 2016: Solution

In [1]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option?

In [2]:
pd.set_option('display.min_rows', 1000)
pd.set_option('display.max_columns', 50)
pd.set_option('max_colwidth', 100)

In [3]:
global_df = pd.read_csv('data/global_superstore/global_superstore_2016.csv', encoding = 'latin1')

In [4]:
global_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,Western Europe,Europe,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,Western Africa,Africa,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [5]:
global_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
Row ID            51290 non-null int64
Order ID          51290 non-null object
Order Date        51290 non-null object
Ship Date         51290 non-null object
Ship Mode         51290 non-null object
Customer ID       51290 non-null object
Customer Name     51290 non-null object
Segment           51290 non-null object
Postal Code       9994 non-null float64
City              51290 non-null object
State             51290 non-null object
Country           51290 non-null object
Region            51290 non-null object
Market            51290 non-null object
Product ID        51290 non-null object
Category          51290 non-null object
Sub-Category      51290 non-null object
Product Name      51290 non-null object
Sales             51290 non-null object
Quantity          51290 non-null int64
Discount          51290 non-null float64
Profit            51290 non-null object
Shipping Cost     51290 non-null float64
Order Priority    51290 non-null object
dtypes: float64(3), int64(2), object(19)
memory usage: 9.4+ MB

In [6]:
global_df.describe()

            Row ID   Postal Code      Quantity      Discount  Shipping Cost
count  51290.00000   9994.000000  51290.000000  51290.000000   51290.000000
mean   25645.50000  55190.379428      3.476545      0.142908      26.478567
std    14806.29199  32063.693350      2.278766      0.212280      57.251373
min        1.00000   1040.000000      1.000000      0.000000       1.002000
25%    12823.25000  23223.000000      2.000000      0.000000       2.610000
50%    25645.50000  56430.500000      3.000000      0.000000       7.790000
75%    38467.75000  90008.000000      5.000000      0.200000      24.450000
max    51290.00000  99301.000000     14.000000      0.850000     933.570000

In [ ]:
# convert the columns 'Order Date' & 'Ship Date' to a Datetime objects

In [7]:
order_date = global_df['Order Date'].tolist()

In [8]:
ship_date = global_df['Ship Date'].tolist()

In [9]:
order_datetime = pd.to_datetime(order_date)
order_datetime

DatetimeIndex(['2014-11-11', '2014-02-05', '2014-10-17', '2014-01-28',
               '2014-11-05', '2014-06-28', '2012-11-06', '2013-04-14',
               '2014-11-11', '2012-03-06',
               ...
               '2014-07-09', '2015-06-09', '2015-08-05', '2015-05-30',
               '2013-12-28', '2015-06-19', '2014-05-06', '2012-08-26',
               '2013-02-17', '2013-05-22'],
              dtype='datetime64[ns]', length=51290, freq=None)

In [10]:
ship_datetime = pd.to_datetime(ship_date)

In [ ]:
# After convertig into Datetime objects, convert into a Series objects

In [11]:
Order_date = pd.Series(order_datetime, name='Order_Date')
Ship_date = pd.Series(ship_datetime, name='Ship_Date')

In [12]:
global_df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'], dtype=object)

In [ ]:
# Drop the unwanted columns

In [13]:
global_df.drop(columns=['Row ID', 'Order Date', 'Ship Date', 'Customer ID', 'Postal Code'], inplace=True)
global_df.head(n=2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [14]:
global_data = pd.concat([global_df, Order_date, Ship_date], axis=1)
global_data.head(n=2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Order_Date,Ship_Date
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High,2014-11-11,2014-11-13
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical,2014-02-05,2014-02-07

In [15]:
global_data = global_data.reindex(columns=['Order ID', 'Order_Date', 'Ship_Date', 'Ship Mode','Customer Name', 'Segment', 'Postal Code', 'City','State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost', 'Order Priority'])

In [16]:
global_data.head(n=2)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,Aaron Bergman,Consumer,NaN,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

In [17]:
global_data['Shipping Cost'].astype(int)[:10]

0     40
1    923
2    915
3    910
4    903
5    897
6    894
7    878
8     25
9     11
Name: Shipping Cost, dtype: int32

In [ ]:
# check whether all the values of columns 'Sales' & 'Profit' contains $ symbol or not

In [18]:
if global_data['Sales'].str.contains('$').any():
    print("Yes: $ Symbol is Present in The Column Sales")

Yes: $ Symbol is Present in The Column Sales

In [19]:
if global_data['Profit'].str.contains('$').any():
    print("Yes: $ Symbol is Present in The Column Profit")

Yes: $ Symbol is Present in The Column Profit

In [ ]:
#global_data.info()

In [ ]:
#global_data.dtypes

In [ ]:
# clean the columns 'Sales' & 'Profit' whcih consists of '$', '(', & ')' symbols

In [20]:
global_data['Sales'] = global_data['Sales'].str.replace('$', '', regex=True)
global_data['Sales'][:10]

0      221.98
1    3,709.40
2    5,175.17
3    2,892.51
4    2,832.96
5    2,862.68
6    1,822.08
7    5,244.84
8      341.96
9       48.71
Name: Sales, dtype: object

In [21]:
global_data['Sales'] = global_data['Sales'].str.replace(',', '', regex=True)
global_data['Sales'][:10]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
5    2862.68
6    1822.08
7    5244.84
8     341.96
9      48.71
Name: Sales, dtype: object

In [22]:
global_data['Profit'] = global_data['Profit'].str.replace('$', '', regex=True)
global_data['Profit'][:10]

0      62.15
1    (288.77)
2     919.97
3     (96.54)
4     311.52
5     763.28
6     564.84
7     996.48
8      54.71
9       5.48
Name: Profit, dtype: object

In [23]:
global_data['Profit'] = global_data['Profit'].str.replace('(', '', regex=True)
global_data['Profit'][:10]

0     62.15
1    288.77)
2    919.97
3     96.54)
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: object

In [24]:
global_data['Profit'] = global_data['Profit'].str.replace(')', '', regex=True)
global_data['Profit'][:20]

0        62.15
1        288.77
2       919.97
3         96.54
4       311.52
5       763.28
6       564.84
7       996.48
8        54.71
9         5.48
10        4.66
11      647.55
12    1,151.40
13      622.02
14    1,036.08
15      186.95
16         2.52
17    3,979.08
18       28.40
19      818.28
Name: Profit, dtype: object

In [25]:
global_data['Profit'] = global_data['Profit'].str.replace(',', '')
global_data['Profit'][:20]

0       62.15
1       288.77
2      919.97
3        96.54
4      311.52
5      763.28
6      564.84
7      996.48
8       54.71
9        5.48
10       4.66
11     647.55
12    1151.40
13     622.02
14    1036.08
15     186.95
16        2.52
17    3979.08
18      28.40
19     818.28
Name: Profit, dtype: object

In [ ]:
# After removing the symbols, convert them to a numeric columns and of type 'int'

In [26]:
global_data['Profit'] = pd.to_numeric(global_data['Profit'], downcast='signed')
global_data['Profit'][:10]

0     62.15
1    288.77
2    919.97
3     96.54
4    311.52
5    763.28
6    564.84
7    996.48
8     54.71
9      5.48
Name: Profit, dtype: float64

In [27]:
global_data['Sales'] = pd.to_numeric(global_data['Sales'], downcast='integer')
global_data['Sales'][:10]

0     221.98
1    3709.40
2    5175.17
3    2892.51
4    2832.96
5    2862.68
6    1822.08
7    5244.84
8     341.96
9      48.71
Name: Sales, dtype: float64

In [28]:
global_data['Profit'] = global_data['Profit'].astype(int)
global_data['Sales'] = global_data['Sales'].astype(int)

In [ ]:
# You can again check the columns 'Sales' and 'Profit' using 'info()' method
#global_data.info()

### Let's begin the analysis with the Project Questions

#### 1. Total how many orders have cross the shipping cost of 500?

In [29]:
cond1 = (global_data['Shipping Cost'] > 500.00)

In [30]:
shipping_g500 = global_data[cond1]
shipping_g500[:5]

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,288,923.63,Critical
2,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915.49,Medium
3,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,Western Europe,Europe,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,96,910.16,Medium
4,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,Western Africa,Africa,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903.04,Critical
5,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,Jim Mitchum,Corporate,NaN,Sydney,New South Wales,Australia,Oceania,Asia Pacific,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862,5,0.1,763,897.35,Critical

In [31]:
len(shipping_g500['Order ID'])

120

In [32]:
shipping_g500.shape

(120, 22)

#### 2. Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.

In [33]:
global_data['Segment'].value_counts()

Consumer       26518
Corporate      15429
Home Office     9343
Name: Segment, dtype: int64

In [34]:
len(global_data['Country'].value_counts())

165

In [35]:
print(global_data['Region'].value_counts())
print(len(global_data['Region'].value_counts()))

Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: Region, dtype: int64
23

In [36]:
global_data['Market'].value_counts()

Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
Name: Market, dtype: int64

In [37]:
global_data['Category'].value_counts()

Office Supplies    31289
Technology         10141
Furniture           9860
Name: Category, dtype: int64

In [38]:
print(global_data['Sub-Category'].value_counts())
print(len(global_data['Sub-Category'].value_counts()))

Binders        6146
Storage        5049
Art            4864
Paper          3492
Chairs         3434
Phones         3357
Furnishings    3154
Accessories    3075
Fasteners      2601
Labels         2601
Bookcases      2411
Supplies       2407
Envelopes      2387
Copiers        2223
Appliances     1742
Machines       1486
Tables          861
Name: Sub-Category, dtype: int64
17

#### 3. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

In [39]:
cond_country_india = (global_data['Country'] == 'India') & (global_data['Category'] == 'Technology') & (global_data['Shipping Cost'] >= 500)

In [40]:
Indian_OrderID = global_data[cond_country_india]
Indian_OrderID

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,NaN,Gorakhpur,Haryana,India,Southern Asia,Asia Pacific,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518,7,0.0,632,658.69,High
48,IN-2015-SW2027558-42125,2015-05-01,2015-05-01,Same Day,Scott Williamson,Consumer,NaN,Jamshedpur,Jharkhand,India,Southern Asia,Asia Pacific,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174,7,0.0,500,637.86,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,NaN,Bhopal,Madhya Pradesh,India,Southern Asia,Asia Pacific,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,625.77,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,NaN,Delhi,Delhi,India,Southern Asia,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916,3,0.0,498,548.40,Critical

In [41]:
Indian_Order_IDs = Indian_OrderID['Order ID'].tolist()
Indian_Order_IDs

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419']

#### 4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology'  where the Sales is greater than 500.

In [42]:
Indian_sales = (global_data['Country'] == 'India') & (global_data['Category'] == 'Technology') & (global_data['Sales'] >= 500)
Indian_sales_df = global_data[Indian_sales]

In [43]:
Indian_Sales_IDs = Indian_sales_df['Order ID'].tolist()
Indian_Sales_IDs[:20]

['IN-2015-BF1100558-42319',
 'IN-2015-SW2027558-42125',
 'IN-2013-SG2047058-41424',
 'IN-2013-GP1474058-41419',
 'IN-2014-SV2081558-41968',
 'IN-2015-AP1072058-42284',
 'IN-2015-CR1282058-42294',
 'IN-2012-AB1010558-41270',
 'IN-2014-CA1277558-41802',
 'IN-2015-AF1088558-42222',
 'IN-2012-CL1270058-41226',
 'IN-2012-MG1820558-40962',
 'IN-2015-CY1274558-42300',
 'IN-2014-MR1754558-41954',
 'IN-2015-CC1247558-42129',
 'IN-2013-NZ1856558-41398',
 'IN-2012-DM1352558-41123',
 'IN-2013-DL1333058-41328',
 'IN-2013-BW1111058-41404',
 'IN-2014-JE1561058-41895']

In [ ]:
# you can also check the number of Order ID's using 'len' function
# len(Indian_Sales_IDs)

#### 5. How many people from the State 'Karnataka' have bought the things under the category 'Technology'.

In [44]:
cond_states = (global_data['Country']=='India') & (global_data['Category'] =='Technology')
global_data_states = global_data[cond_states]

In [47]:
global_data_states[global_data_states['State']=='Karnataka'][:5]

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
408,IN-2015-CY1274558-42300,2015-10-23,2015-10-25,First Class,Craig Yedwab,Corporate,NaN,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4578,Technology,Copiers,"Hewlett Fax Machine, Laser",959,3,0.0,460,317.81,Critical
782,IN-2015-JW1522058-42101,2015-04-07,2015-04-12,Standard Class,Jane Waco,Corporate,NaN,Mangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-PH-3807,Technology,Phones,"Cisco Smart Phone, with Caller ID",3271,5,0.0,1341,232.45,High
1957,IN-2014-RA1928558-41863,2014-08-12,2014-08-16,Standard Class,Ralph Arnett,Consumer,NaN,Mangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4791,Technology,Copiers,"HP Wireless Fax, High-Speed",1075,3,0.0,344,136.45,High
2364,IN-2014-BO1135058-41783,2014-05-24,2014-05-30,Standard Class,Bill Overfelt,Corporate,NaN,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-3608,Technology,Copiers,"Brother Wireless Fax, Color",1140,3,0.0,0,119.46,Medium
3200,IN-2014-CM1238558-41755,2014-04-26,2014-04-28,Second Class,Christopher Martinez,Consumer,NaN,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4769,Technology,Copiers,"HP Fax and Copier, Color",697,4,0.0,292,94.93,High

In [48]:
len(global_data_states[global_data_states['State']=='Karnataka'])

21

#### 6. Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.

In [ ]:
global_data.describe()

In [49]:
cond1 = (global_data['Profit'] >= 2000) & (global_data['Shipping Cost'] >= 300)
global_data_country = global_data[cond1]

In [50]:
global_data_country[:5]

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
17,ES-2015-PJ1883564-42255,2015-09-08,2015-09-14,Standard Class,Patrick Jones,Corporate,NaN,Prato,Tuscany,Italy,Southern Europe,Europe,OFF-AP-4743,Office Supplies,Appliances,"Hoover Stove, Red",7958,14,0.0,3979,778.32,Low
42,IN-2015-VG2180558-42273,2015-09-26,2015-09-28,Second Class,Vivek Grady,Corporate,NaN,Thiruvananthapuram,Kerala,India,Southern Asia,Asia Pacific,FUR-BO-5951,Furniture,Bookcases,"Sauder Classic Bookcase, Traditional",5667,13,0.0,2097,658.35,Medium
81,MO-2015-DP310586-42305,2015-10-28,2015-10-30,Second Class,Dave Poirier,Corporate,NaN,Meknes,Meknès-Tafilalet,Morocco,North Africa,Africa,TEC-CO-3710,Technology,Copiers,"Canon Wireless Fax, Laser",5301,14,0.0,2597,568.45,Medium
109,IT-2014-VM2168591-41711,2014-03-13,2014-03-13,Same Day,Valerie Mitchum,Home Office,NaN,Bergen op Zoom,North Brabant,Netherlands,Western Europe,Europe,FUR-CH-5442,Furniture,Chairs,"Office Star Executive Leather Armchair, Black",2570,11,0.5,2211,520.89,High
192,ES-2014-JG15160139-41660,2014-01-21,2014-01-24,Second Class,James Galang,Consumer,NaN,Stockton-on-Tees,England,United Kingdom,Northern Europe,Europe,FUR-TA-3344,Furniture,Tables,"Barricks Conference Table, Fully Assembled",5451,6,0.0,2071,432.13,Medium

In [51]:
global_data_country['Country']

17                Italy
42                India
81              Morocco
109         Netherlands
192      United Kingdom
215               Japan
245           Lithuania
313               India
334           Australia
362            Pakistan
419       United States
2257      United States
6422      United States
11123     United States
11755     United States
23110     United States
24214     United States
25238     United States
31453     United States
32753     United States
46295     United States
49003     United States
49968     United States
Name: Country, dtype: object

In [52]:
listOf_Countries = global_data_country['Country'].drop_duplicates().tolist()
listOf_Countries

['Italy',
 'India',
 'Morocco',
 'Netherlands',
 'United Kingdom',
 'Japan',
 'Lithuania',
 'Australia',
 'Pakistan',
 'United States']

#### 7. Find the list of Indian states where the people have purchased the things under the category Technology.

In [53]:
cond_states_tech = (global_data['Country']=='India') & (global_data['Category']=='Technology')

In [54]:
Indian_States = global_data[cond_states_tech]
Indian_States

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,2015-11-11,2015-11-15,Standard Class,Barry Franz,Home Office,NaN,Gorakhpur,Haryana,India,Southern Asia,Asia Pacific,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",4518,7,0.0,632,658.69,High
48,IN-2015-SW2027558-42125,2015-05-01,2015-05-01,Same Day,Scott Williamson,Consumer,NaN,Jamshedpur,Jharkhand,India,Southern Asia,Asia Pacific,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White",2174,7,0.0,500,637.86,Critical
55,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,NaN,Bhopal,Madhya Pradesh,India,Southern Asia,Asia Pacific,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,625.77,Critical
90,IN-2013-GP1474058-41419,2013-05-25,2013-05-28,Second Class,Guy Phonely,Corporate,NaN,Delhi,Delhi,India,Southern Asia,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",1916,3,0.0,498,548.40,Critical
130,IN-2014-SV2081558-41968,2014-11-25,2014-11-27,First Class,Stuart Van,Corporate,NaN,Vadodara,Gujarat,India,Southern Asia,Asia Pacific,TEC-CO-4577,Technology,Copiers,"Hewlett Fax Machine, High-Speed",1590,5,0.0,572,493.20,Critical
224,IN-2015-AP1072058-42284,2015-10-07,2015-10-11,Standard Class,Anne Pryor,Home Office,NaN,Jabalpur,Madhya Pradesh,India,Southern Asia,Asia Pacific,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID",2582,4,0.0,361,404.08,High
225,IN-2015-CR1282058-42294,2015-10-17,2015-10-21,Standard Class,Cyra Reiten,Home Office,NaN,Patna,Bihar,India,Southern Asia,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",3194,5,0.0,830,403.97,High
250,IN-2012-AB1010558-41270,2012-12-27,2012-12-28,First Class,Adrian Barton,Consumer,NaN,Kochi,Kerala,India,Southern Asia,Asia Pacific,TEC-CO-6010,Technology,Copiers,"Sharp Wireless Fax, Digital",1066,3,0.0,394,383.68,Critical
313,IN-2014-CA1277558-41802,2014-06-12,2014-06-17,Standard Class,Cynthia Arntzen,Consumer,NaN,Kota,Chhattisgarh,India,Southern Asia,Asia Pacific,TEC-PH-3149,Technology,Phones,"Apple Smart Phone, with Caller ID",5751,9,0.0,2817,353.85,Medium
380,IN-2015-AF1088558-42222,2015-08-06,2015-08-09,Second Class,Art Foster,Consumer,NaN,Salem,Tamil Nadu,India,Southern Asia,Asia Pacific,TEC-PH-3148,Technology,Phones,"Apple Smart Phone, Full Size",2550,4,0.0,280,326.32,High
392,IN-2012-CL1270058-41226,2012-11-13,2012-11-19,Standard Class,Craig Leslie,Home Office,NaN,Kulti,West Bengal,India,Southern Asia,Asia Pacific,TEC-PH-5268,Technology,Phones,"Motorola Smart Phone, Full Size",4498,7,0.0,674,323.75,Medium
404,IN-2012-MG1820558-40962,2012-02-23,2012-02-26,First Class,Mitch Gastineau,Corporate,NaN,Thane,Maharashtra,India,Southern Asia,Asia Pacific,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color",1526,4,0.0,732,319.53,High
408,IN-2015-CY1274558-42300,2015-10-23,2015-10-25,First Class,Craig Yedwab,Corporate,NaN,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4578,Technology,Copiers,"Hewlett Fax Machine, Laser",959,3,0.0,460,317.81,Critical
422,IN-2014-MR1754558-41954,2014-11-11,2014-11-11,Same Day,Mathew Reese,Home Office,NaN,Jodhpur,Rajasthan,India,Southern Asia,Asia Pacific,TEC-CO-3683,Technology,Copiers,"Canon Fax and Copier, Digital",763,4,0.0,381,313.66,Critical
445,IN-2015-CC1247558-42129,2015-05-05,2015-05-07,Second Class,Cindy Chapman,Consumer,NaN,Bhavnagar,Gujarat,India,Southern Asia,Asia Pacific,TEC-CO-3596,Technology,Copiers,"Brother Fax Machine, Digital",1272,4,0.0,534,305.27,High
460,IN-2013-NZ1856558-41398,2013-05-04,2013-05-06,Second Class,Nick Zandusky,Home Office,NaN,Jaipur,Rajasthan,India,Southern Asia,Asia Pacific,TEC-CO-3678,Technology,Copiers,"Canon Copy Machine, Color",2372,9,0.0,0,302.82,High
480,IN-2012-DM1352558-41123,2012-08-02,2012-08-05,Second Class,Don Miller,Corporate,NaN,Muzaffarpur,Bihar,India,Southern Asia,Asia Pacific,TEC-PH-5813,Technology,Phones,"Samsung Audio Dock, Full Size",840,5,0.0,319,296.68,Critical
504,IN-2013-DL1333058-41328,2013-02-23,2013-02-28,Standard Class,Denise Leinenbach,Consumer,NaN,Nagpur,Maharashtra,India,Southern Asia,Asia Pacific,TEC-PH-5840,Technology,Phones,"Samsung Smart Phone, Full Size",3187,5,0.0,541,289.17,Medium
513,IN-2013-BW1111058-41404,2013-05-10,2013-05-12,First Class,Bart Watters,Corporate,NaN,Jhansi,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-MA-5014,Technology,Machines,"Konica Printer, Durable",1607,6,0.0,482,286.74,High
514,IN-2014-JE1561058-41895,2014-09-13,2014-09-13,Same Day,Jim Epp,Corporate,NaN,Amravati,Maharashtra,India,Southern Asia,Asia Pacific,TEC-PH-5336,Technology,Phones,"Nokia Audio Dock, Full Size",840,5,0.0,260,286.67,Critical
569,IN-2013-LW1682558-41376,2013-04-12,2013-04-14,Second Class,Laurel Workman,Corporate,NaN,Nasik,Maharashtra,India,Southern Asia,Asia Pacific,TEC-CO-4789,Technology,Copiers,"HP Wireless Fax, Color",723,2,0.0,332,273.63,Critical
612,IN-2012-DP1316558-41173,2012-09-21,2012-09-26,Second Class,David Philippe,Consumer,NaN,Thane,Maharashtra,India,Southern Asia,Asia Pacific,TEC-PH-5839,Technology,Phones,"Samsung Smart Phone, Cordless",1917,3,0.0,690,261.08,High
743,IN-2013-CS1246058-41609,2013-12-01,2013-12-07,Standard Class,Chuck Sachs,Consumer,NaN,Aligarh,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-CO-5997,Technology,Copiers,"Sharp Fax Machine, Color",2673,9,0.0,26,237.05,Medium
770,IN-2013-CC1268558-41619,2013-12-11,2013-12-15,Standard Class,Craig Carroll,Consumer,NaN,Vijayawada,Andhra Pradesh,India,Southern Asia,Asia Pacific,TEC-PH-3805,Technology,Phones,"Cisco Smart Phone, Cordless",1302,2,0.0,182,234.15,High
782,IN-2015-JW1522058-42101,2015-04-07,2015-04-12,Standard Class,Jane Waco,Corporate,NaN,Mangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-PH-3807,Technology,Phones,"Cisco Smart Phone, with Caller ID",3271,5,0.0,1341,232.45,High
813,IN-2013-TB2119058-41552,2013-10-05,2013-10-09,Standard Class,Thomas Brumley,Home Office,NaN,Allahabad,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID",2544,4,0.0,865,226.81,Medium
822,IN-2014-LR1691558-41899,2014-09-17,2014-09-20,First Class,Lena Radford,Consumer,NaN,Gorakhpur,Haryana,India,Southern Asia,Asia Pacific,TEC-PH-5354,Technology,Phones,"Nokia Smart Phone, Cordless",1908,3,0.0,534,225.58,High
830,IN-2015-DM1334558-42182,2015-06-27,2015-07-02,Second Class,Denise Monton,Corporate,NaN,Varanasi,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-CO-3588,Technology,Copiers,"Brother Copy Machine, High-Speed",2098,8,0.0,860,224.28,Medium
858,IN-2014-ZC2191058-41760,2014-05-01,2014-05-05,Standard Class,Zuschuss Carroll,Consumer,NaN,Tiruppur,Tamil Nadu,India,Southern Asia,Asia Pacific,TEC-CO-3707,Technology,Copiers,"Canon Wireless Fax, Color",3040,8,0.0,1155,219.74,Medium
943,IN-2014-DK1298558-41863,2014-08-12,2014-08-17,Standard Class,Darren Koutras,Consumer,NaN,Delhi,Delhi,India,Southern Asia,Asia Pacific,TEC-PH-5355,Technology,Phones,"Nokia Smart Phone, Full Size",3180,5,0.0,381,209.29,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26688,IN-2015-RB1933058-42164,2015-06-09,2015-06-16,Standard Class,Randy Bradley,Consumer,NaN,Korba,Chhattisgarh,India,Southern Asia,Asia Pacific,TEC-AC-5883,Technology,Accessories,"SanDisk Mouse, USB",77,2,0.0,0,7.18,Low
26793,IN-2014-MG1820558-41982,2014-12-09,2014-12-16,Standard Class,Mitch Gastineau,Corporate,NaN,Panihati,West Bengal,India,Southern Asia,Asia Pacific,TEC-PH-5815,Technology,Phones,"Samsung Audio Dock, with Caller ID",166,1,0.0,11,7.11,Medium
26994,ID-2012-BF1097558-41174,2012-09-22,2012-09-26,Second Class,Barbara Fisher,Corporate,NaN,Mumbai,Maharashtra,India,Southern Asia,Asia Pacific,TEC-AC-5865,Technology,Accessories,"SanDisk Keyboard, Erganomic",118,3,0.5,4,6.99,Medium
27369,IN-2012-AS1009058-41136,2012-08-15,2012-08-19,Standard Class,Adam Shillingsburg,Consumer,NaN,Raipur,Rajasthan,India,Southern Asia,Asia Pacific,TEC-AC-5200,Technology,Accessories,"Memorex Keyboard, Erganomic",69,1,0.0,26,6.79,Medium
27644,IN-2015-AJ1079558-42307,2015-10-30,2015-10-30,Same Day,Anthony Johnson,Corporate,NaN,Kochi,Kerala,India,Southern Asia,Asia Pacific,TEC-PH-3134,Technology,Phones,"Apple Headset, VoIP",293,4,0.0,8,6.64,High
27928,ID-2013-CR1273058-41517,2013-08-31,2013-09-04,Standard Class,Craig Reiter,Consumer,NaN,Mumbai,Maharashtra,India,Southern Asia,Asia Pacific,TEC-CO-3600,Technology,Copiers,"Brother Ink, Digital",73,1,0.5,1,6.50,High
28668,IN-2015-NZ1856558-42137,2015-05-13,2015-05-17,Standard Class,Nick Zandusky,Home Office,NaN,Hyderabad,Telangana,India,Southern Asia,Asia Pacific,TEC-MA-5539,Technology,Machines,"Panasonic Calculator, Red",94,2,0.0,33,6.12,Medium
28766,IN-2014-IM1507058-41812,2014-06-22,2014-06-27,Standard Class,Irene Maddox,Consumer,NaN,Akola,Maharashtra,India,Southern Asia,Asia Pacific,TEC-PH-3134,Technology,Phones,"Apple Headset, VoIP",73,1,0.0,2,6.07,Medium
28944,IN-2012-RH1951058-40961,2012-02-22,2012-02-26,Standard Class,Rick Huthwaite,Home Office,NaN,Kota,Rajasthan,India,Southern Asia,Asia Pacific,TEC-AC-5124,Technology,Accessories,"Logitech Memory Card, USB",207,2,0.0,43,5.99,Medium
29136,IN-2014-KH1633058-41828,2014-07-08,2014-07-13,Standard Class,Katharine Harms,Corporate,NaN,Darbhanga,Bihar,India,Southern Asia,Asia Pacific,TEC-AC-5132,Technology,Accessories,"Logitech Numeric Keypad, Programmable",95,2,0.0,17,5.90,Medium
29233,IN-2015-LD1700558-42101,2015-04-07,2015-04-11,Standard Class,Lisa DeCherney,Consumer,NaN,Kukatpalli,Telangana,India,Southern Asia,Asia Pacific,TEC-AC-5883,Technology,Accessories,"SanDisk Mouse, USB",154,4,0.0,0,5.86,Medium
29912,IN-2015-AF1087058-42111,2015-04-17,2015-04-22,Standard Class,Art Ferguson,Consumer,NaN,Saharanpur,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-AC-5195,Technology,Accessories,"Memorex Flash Drive, Programmable",61,2,0.0,14,5.53,Medium
30184,IN-2014-KB1658558-41994,2014-12-21,2014-12-26,Standard Class,Ken Black,Corporate,NaN,Puducherry,Puducherry,India,Southern Asia,Asia Pacific,TEC-PH-5253,Technology,Phones,"Motorola Headset, VoIP",159,2,0.0,20,5.41,Medium
30232,IN-2014-RP1985558-41990,2014-12-17,2014-12-24,Standard Class,Roy Phan,Corporate,NaN,Warangal,Telangana,India,Southern Asia,Asia Pacific,TEC-AC-5889,Technology,Accessories,"SanDisk Numeric Keypad, USB",106,2,0.0,30,5.39,Medium
30900,IN-2013-SC2077058-41538,2013-09-21,2013-09-26,Standard Class,Stewart Carmichael,Corporate,NaN,Kamarhati,West Bengal,India,Southern Asia,Asia Pacific,TEC-AC-4153,Technology,Accessories,"Enermax Flash Drive, Programmable",86,2,0.0,3,5.11,Medium
31668,IN-2012-JG1580558-41061,2012-06-01,2012-06-06,Standard Class,John Grady,Corporate,NaN,Agra,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-AC-3392,Technology,Accessories,"Belkin Mouse, Bluetooth",81,2,0.0,11,4.78,Medium
32544,IN-2013-SV2093558-41371,2013-04-07,2013-04-12,Standard Class,Susan Vittorini,Consumer,NaN,Bhavnagar,Gujarat,India,Southern Asia,Asia Pacific,TEC-AC-5201,Technology,Accessories,"Memorex Keyboard, Programmable",72,1,0.0,10,4.45,High
33030,IN-2015-DW1358558-42301,2015-10-24,2015-10-28,Standard Class,Dorothy Wardle,Corporate,NaN,Surat,Gujarat,India,Southern Asia,Asia Pacific,TEC-PH-3798,Technology,Phones,"Cisco Office Telephone, VoIP",161,2,0.0,14,4.26,Medium
33999,IN-2014-VT2170058-41804,2014-06-14,2014-06-18,Standard Class,Valerie Takahito,Home Office,NaN,Ajmer,Rajasthan,India,Southern Asia,Asia Pacific,TEC-AC-5218,Technology,Accessories,"Memorex Mouse, Programmable",59,2,0.0,14,3.92,Medium
34457,IN-2013-ML1826558-41432,2013-06-07,2013-06-11,Standard Class,Muhammed Lee,Consumer,NaN,Nellore,Andhra Pradesh,India,Southern Asia,Asia Pacific,TEC-MA-5012,Technology,Machines,"Konica Phone, White",84,1,0.0,20,3.76,High
35688,IN-2015-BS1159058-42179,2015-06-24,2015-06-29,Second Class,Brendan Sweed,Corporate,NaN,Meerut,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-AC-3395,Technology,Accessories,"Belkin Mouse, USB",40,1,0.0,13,3.38,Medium
35903,IN-2013-JS1568558-41371,2013-04-07,2013-04-12,Standard Class,Jim Sink,Corporate,NaN,Delhi,Delhi,India,Southern Asia,Asia Pacific,TEC-PH-5840,Technology,Phones,"Samsung Smart Phone, Full Size",637,1,0.0,108,3.32,Medium
35956,IN-2013-AT1043558-41607,2013-11-29,2013-12-03,Standard Class,Alyssa Tate,Home Office,NaN,Bellary,Karnataka,India,Southern Asia,Asia Pacific,TEC-AC-5101,Technology,Accessories,"Logitech Flash Drive, Programmable",32,1,0.0,10,3.30,High
35977,IN-2013-MF1825058-41460,2013-07-05,2013-07-12,Standard Class,Monica Federle,Corporate,NaN,Allahabad,Uttar Pradesh,India,Southern Asia,Asia Pacific,TEC-AC-3393,Technology,Accessories,"Belkin Mouse, Erganomic",38,1,0.0,8,3.30,Medium
39400,IN-2013-SG2047058-41424,2013-05-30,2013-05-31,First Class,Sheri Gordon,Consumer,NaN,Bhopal,Madhya Pradesh,India,Southern Asia,Asia Pacific,TEC-AC-5099,Technology,Accessories,"Logitech Flash Drive, Bluetooth",30,1,0.0,11,2.39,Critical
39631,IN-2013-JR1570058-41441,2013-06-16,2013-06-22,Standard Class,Jocasta Rupert,Consumer,NaN,Kollam,Kerala,India,Southern Asia,Asia Pacific,TEC-AC-4178,Technology,Accessories,"Enermax Numeric Keypad, Bluetooth",114,2,0.0,4,2.33,Medium
40262,IN-2014-GZ1447058-41721,2014-03-23,2014-03-27,Standard Class,Gary Zandusky,Consumer,NaN,Ludhiana,Punjab,India,Southern Asia,Asia Pacific,TEC-AC-5221,Technology,Accessories,"Memorex Numeric Keypad, Erganomic",93,2,0.0,42,2.18,Medium
42345,IN-2015-CR1282058-42294,2015-10-17,2015-10-21,Standard Class,Cyra Reiten,Home Office,NaN,Patna,Bihar,India,Southern Asia,Asia Pacific,TEC-PH-5838,Technology,Phones,"Samsung Signal Booster, with Caller ID",136,1,0.0,57,1.92,High
43976,IN-2015-LD1700558-42101,2015-04-07,2015-04-11,Standard Class,Lisa DeCherney,Consumer,NaN,Kukatpalli,Telangana,India,Southern Asia,Asia Pacific,TEC-CO-3591,Technology,Copiers,"Brother Fax and Copier, Color",385,2,0.0,84,1.77,Medium
51172,IN-2014-AS1013558-41817,2014-06-27,2014-07-03,Standard Class,Adrian Shami,Home Office,NaN,Nagercoil,Tamil Nadu,India,Southern Asia,Asia Pacific,TEC-AC-3388,Technology,Accessories,"Belkin Memory Card, Bluetooth",114,1,0.0,32,1.06,Medium

In [55]:
Indian_States_Technology = Indian_States['State'].drop_duplicates().tolist()
Indian_States_Technology

['Haryana',
 'Jharkhand',
 'Madhya Pradesh',
 'Delhi',
 'Gujarat',
 'Bihar',
 'Kerala',
 'Chhattisgarh',
 'Tamil Nadu',
 'West Bengal',
 'Maharashtra',
 'Karnataka',
 'Rajasthan',
 'Uttar Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Odisha',
 'Punjab',
 'Assam',
 'Uttarakhand',
 'Puducherry',
 'Jammu and Kashmir']

In [56]:
len(Indian_States_Technology)

22

#### 8. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

In [57]:
print('Max Profit:', max(global_data['Profit']))
print('Min Profit:', min(global_data['Profit']))

Max Profit: 8399
Min Profit: 0

In [58]:
condition_top_countries = (global_data['Profit'] > 0) & (global_data['Category'] == 'Technology')

In [59]:
global_countries = global_data[condition_top_countries]

In [60]:
global_countries.shape

(9915, 22)

In [61]:
sorted_global_countries = global_countries.sort_values(by=['Profit'], ascending=False)

In [62]:
sorted_global_countries.head(n=5)

,Order ID,Order_Date,Ship_Date,Ship Mode,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
49003,CA-2014-TC20980140-41915,2014-10-03,2014-10-10,Standard Class,Tamara Chand,Corporate,NaN,Lafayette,Indiana,United States,Central US,USCA,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499,5,0.0,8399,349.07000,Medium
44248,CA-2015-RB19360140-42087,2015-03-24,2015-03-26,First Class,Raymond Buch,Consumer,NaN,Seattle,Washington,United States,Western US,USCA,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999,4,0.0,6719,20.00054,Medium
11755,CA-2014-CS12505140-41969,2014-11-26,2014-12-03,Standard Class,Cindy Stewart,Consumer,NaN,Lancaster,Ohio,United States,Eastern US,USCA,TEC-MA-3854,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499,5,0.7,6599,451.63000,Low
25238,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,Hunter Lopez,Consumer,NaN,Newark,Delaware,United States,Eastern US,USCA,TEC-CO-3691,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499,3,0.0,5039,363.19000,Medium
6591,TU-2014-DM3345134-41908,2014-09-26,2014-09-26,Same Day,Denise Monton,Corporate,NaN,Bornova,Izmir,Turkey,Western Asia,Asia Pacific,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",3085,12,0.6,4088,51.89000,Critical

In [63]:
sorted_global_countries['Country']

49003                       United States
44248                       United States
11755                       United States
25238                       United States
6591                               Turkey
49940                       United States
23110                       United States
47527                       United States
362                              Pakistan
215                                 Japan
313                                 India
46386                       United States
41265                       United States
81                                Morocco
14210                       United States
39592                      United Kingdom
641                           New Zealand
31453                       United States
6422                        United States
24214                       United States
49968                       United States
32753                       United States
41524                       United States
47114                       United States
643                                Brazil
111                               Germany
168                        United Kingdom
38                         United Kingdom
1402                          Netherlands
48350                       United States
                       ...
7898                        United States
7091                        United States
3658                        United States
32295                       United States
11216                              Brazil
27973                      United Kingdom
40891                       United States
12257                           Venezuela
46824                          Mozambique
50442                             Somalia
46551                       United States
15010                         Philippines
39635                       United States
20522                       United States
16893                             Germany
31825                       United States
31835                              Brazil
17768                       United States
24233                               Ghana
39531                       United States
29326                           Australia
15557                            Honduras
33833                       United States
34423    Democratic Republic of the Congo
19339                              France
45055                       United States
46466                           Venezuela
31893                       United States
30799                              Russia
41207                                Iraq
Name: Country, Length: 9915, dtype: object

In [64]:
listOf_Countires_Top_Profit = sorted_global_countries['Country'].drop_duplicates().tolist()
listOf_Countires_Top_Profit

['United States',
 'Turkey',
 'Pakistan',
 'Japan',
 'India',
 'Morocco',
 'United Kingdom',
 'New Zealand',
 'Brazil',
 'Germany',
 'Netherlands',
 'China',
 'Senegal',
 'Democratic Republic of the Congo',
 'France',
 'Iran',
 'Italy',
 'Spain',
 "Cote d'Ivoire",
 'Guatemala',
 'Lithuania',
 'Canada',
 'Saudi Arabia',
 'Bangladesh',
 'Australia',
 'South Korea',
 'Switzerland',
 'Mexico',
 'Nigeria',
 'Nicaragua',
 'El Salvador',
 'Russia',
 'Thailand',
 'Indonesia',
 'Cuba',
 'Belgium',
 'Kazakhstan',
 'Lesotho',
 'Cameroon',
 'Austria',
 'South Africa',
 'Mauritania',
 'Qatar',
 'Yemen',
 'Egypt',
 'Burkina Faso',
 'Iraq',
 'Vietnam',
 'Portugal',
 'Dominican Republic',
 'Malaysia',
 'Madagascar',
 'Ghana',
 'Honduras',
 'Mozambique',
 'Angola',
 'Ukraine',
 'Algeria',
 'Denmark',
 'Belarus',
 'Afghanistan',
 'Panama',
 'Norway',
 'Ecuador',
 'Liberia',
 'Venezuela',
 'Philippines',
 'Colombia',
 'Cambodia',
 'Ireland',
 'Namibia',
 'Argentina',
 'Chile',
 'Georgia',
 'Greece',
 'Singapore',
 'Zambia',
 'Kenya',
 'Sweden',
 'Barbados',
 'Azerbaijan',
 'Zimbabwe',
 'Uzbekistan',
 'Poland',
 'Romania',
 'Trinidad and Tobago',
 'Bolivia',
 'Guyana',
 'Hungary',
 'Tanzania',
 'Nepal',
 'Peru',
 'Bosnia and Herzegovina',
 'Central African Republic',
 'Israel',
 'Benin',
 'Estonia',
 'Bulgaria',
 'Somalia',
 'Rwanda',
 'Serbia',
 'Albania',
 'Syria',
 'Turkmenistan',
 'Tajikistan',
 'Guinea-Bissau',
 'Mali',
 'Haiti',
 'Czech Republic',
 'Papua New Guinea',
 'Kyrgyzstan',
 'Niger',
 'Gabon',
 'Finland',
 'Sudan',
 'Uganda',
 'Myanmar (Burma)',
 'Uruguay',
 'Croatia',
 'South Sudan',
 'Costa Rica',
 'Hong Kong',
 'United Arab Emirates',
 'Mongolia',
 'Jamaica',
 'Lebanon',
 'Tunisia',
 'Moldova',
 'Libya',
 'Paraguay',
 'Djibouti',
 'Guadeloupe',
 'Eritrea',
 'Jordan',
 'Taiwan',
 'Sierra Leone',
 'Martinique',
 'Guinea',
 'Ethiopia',
 'Equatorial Guinea',
 'Togo',
 'Swaziland',
 'Luxembourg',
 'Sri Lanka',
 'Bahrain']

In [ ]:
#len(sorted_global_countries.index)

In [65]:
ranked_data = sorted_global_countries['Country'].drop_duplicates().rank(ascending=False, method='average' )
ranked_data

49003      8.0
6591      14.0
362       49.0
215       79.0
313       87.0
81        60.0
39592      9.0
641       54.0
643      129.0
111       99.0
1402      55.0
461      121.0
291       36.0
426      114.0
105      102.0
1256      85.0
1115      81.0
1410      28.0
3675     118.0
1226      95.0
727       70.0
48570    124.0
12        37.0
13013    136.0
87       140.0
3678      30.0
795       23.0
432       63.0
3447      51.0
3640      53.0
         ...
18714     12.0
6871      58.0
15348      7.0
4064     117.0
20755     29.0
6817     119.0
9130      89.0
27486     10.0
10818     61.0
13185     80.0
1072      74.0
4453      15.0
6635      62.0
8633      71.0
797       46.0
20099    112.0
21018     96.0
26410    106.0
13936     78.0
12416     21.0
10918     34.0
15685     65.0
16849     94.0
10671    104.0
26568    107.0
19592     17.0
29037     25.0
29689     69.0
33381     27.0
5060     137.0
Name: Country, Length: 145, dtype: float64

In [ ]:
type(ranked_data)

In [66]:
ranked_countries = sorted_global_countries['Country'].drop_duplicates()

In [67]:
ranked_series = pd.concat([ranked_countries, ranked_data], axis=1)
ranked_series

                                Country  Country
49003                     United States      8.0
6591                             Turkey     14.0
362                            Pakistan     49.0
215                               Japan     79.0
313                               India     87.0
81                              Morocco     60.0
39592                    United Kingdom      9.0
641                         New Zealand     54.0
643                              Brazil    129.0
111                             Germany     99.0
1402                        Netherlands     55.0
461                               China    121.0
291                             Senegal     36.0
426    Democratic Republic of the Congo    114.0
105                              France    102.0
1256                               Iran     85.0
1115                              Italy     81.0
1410                              Spain     28.0
3675                      Cote d'Ivoire    118.0
1226                          Guatemala     95.0
727                           Lithuania     70.0
48570                            Canada    124.0
12                         Saudi Arabia     37.0
13013                        Bangladesh    136.0
87                            Australia    140.0
3678                        South Korea     30.0
795                         Switzerland     23.0
432                              Mexico     63.0
3447                            Nigeria     51.0
3640                          Nicaragua     53.0
...                                 ...      ...
18714                            Uganda     12.0
6871                    Myanmar (Burma)     58.0
15348                           Uruguay      7.0
4064                            Croatia    117.0
20755                       South Sudan     29.0
6817                         Costa Rica    119.0
9130                          Hong Kong     89.0
27486              United Arab Emirates     10.0
10818                          Mongolia     61.0
13185                           Jamaica     80.0
1072                            Lebanon     74.0
4453                            Tunisia     15.0
6635                            Moldova     62.0
8633                              Libya     71.0
797                            Paraguay     46.0
20099                          Djibouti    112.0
21018                        Guadeloupe     96.0
26410                           Eritrea    106.0
13936                            Jordan     78.0
12416                            Taiwan     21.0
10918                      Sierra Leone     34.0
15685                        Martinique     65.0
16849                            Guinea     94.0
10671                          Ethiopia    104.0
26568                 Equatorial Guinea    107.0
19592                              Togo     17.0
29037                         Swaziland     25.0
29689                        Luxembourg     69.0
33381                         Sri Lanka     27.0
5060                            Bahrain    137.0

[145 rows x 2 columns]

#### 9. Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category

In [68]:
grouped_data = global_data.groupby(by=['Country', 'Category', 'Sub-Category'], as_index=True)
grouped_data

In [ ]:
#grouped_data[['Sales', 'Profit']].min()

In [69]:
functions = [('min_value', 'min'), ('max_value', 'max'), ('mean_value','mean'), ('std_value', 'std')]

In [70]:
grouped_data['Sales', 'Profit'].agg(functions)

                                             Sales                         \
                                         min_value max_value   mean_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases          731      2070  1400.500000
                            Chairs             417       914   665.500000
                            Furnishings         84       219   134.500000
                            Tables             267      4626  2113.333333
            Office Supplies Appliances         669       669   669.000000
                            Art                 29       177   110.500000
                            Binders             33       251    96.833333
                            Envelopes           79       231   171.000000
                            Fasteners           13        45    29.000000
                            Labels              13        64    39.333333
                            Paper               15       122    77.000000
                            Storage             61       332   189.750000
                            Supplies            69       243   154.333333
            Technology      Accessories        114      1470   408.400000
                            Copiers            427       712   569.500000
                            Machines           346       346   346.000000
                            Phones             412      1168   732.000000
Albania     Furniture       Bookcases          363       414   388.500000
                            Furnishings         58        58    58.000000
            Office Supplies Art                 15       173    73.666667
                            Binders              6        28    17.000000
                            Labels              11        11    11.000000
                            Storage             18       218   113.666667
            Technology      Machines            85      1619   852.000000
                            Phones             182       553   367.500000
Algeria     Furniture       Bookcases          146      1447   556.727273
                            Chairs              63       516   224.500000
                            Furnishings         17       116    77.750000
                            Tables             319       319   319.000000
            Office Supplies Appliances          38      1111   472.625000
...                                            ...       ...          ...
Zambia      Office Supplies Appliances          38       526   218.333333
                            Art                 15       417   148.000000
                            Binders              5       207    51.888889
                            Envelopes            6       244    92.666667
                            Fasteners            7        82    36.250000
                            Labels               9        55    24.500000
                            Paper               17       110    57.200000
                            Storage              9      1023   216.625000
                            Supplies            18        84    57.500000
            Technology      Accessories         40       246   110.000000
                            Copiers            122      1181   415.285714
                            Machines           597      1247   937.000000
                            Phones              88      1272   426.200000
Zimbabwe    Furniture       Bookcases           51        86    68.500000
                            Chairs              49       627   338.000000
                            Furnishings         12        12    12.000000
                            Tables             142       142   142.000000
            Office Supplies Appliances          28       160   114.333333
                            Art                  3       112    26.666667
                            Binders              1        39     6.916667
                            Envelopes            5        42    20.600000
                            Fasteners            4         7     5.000000
                            Labels               2        14     5.750000
                            Paper                7        31    20.500000
                            Storage              3       161    42.666667
                            Supplies            10        66    37.833333
            Technology      Accessories         77        77    77.000000
                            Copiers            154       444   299.000000
                            Machines            14       104    52.500000
                            Phones              21       101    61.000000

                                                         Profit            \
                                            std_value min_value max_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases      946.815980       102       848
                            Chairs         351.432070        45       356
                            Furnishings     51.251341         1        79
                            Tables        2254.599817        34       647
            Office Supplies Appliances            NaN       280       280
                            Art             70.011904         8        76
                            Binders         82.990160         0        52
                            Envelopes       80.894994         9        85
                            Fasteners       22.627417         2         2
                            Labels          25.540817         1        22
                            Paper           44.818151         2        42
                            Storage        121.579535        20        70
                            Supplies        87.047880        19       104
            Technology      Accessories    593.736726         4       514
                            Copiers        201.525433         4         7
                            Machines              NaN        13        13
                            Phones         346.302373        24       443
Albania     Furniture       Bookcases       36.062446        39       202
                            Furnishings           NaN         3         3
            Office Supplies Art             86.494701         1        24
                            Binders         15.556349         0         1
                            Labels                NaN         2         2
                            Storage        100.281271         8        54
            Technology      Machines      1084.701802         0       258
                            Phones         262.336616        22        40
Algeria     Furniture       Bookcases      411.036760         8       506
                            Chairs         171.976452        20        61
                            Furnishings     44.701390         0        52
                            Tables                NaN       121       121
            Office Supplies Appliances     403.334295         3       526
...                                               ...       ...       ...
Zambia      Office Supplies Appliances     178.032207         1       131
                            Art            169.925866         4        95
                            Binders         60.727762         0        37
                            Envelopes       99.803140         0       122
                            Fasteners       34.325646         2        18
                            Labels          21.191980         3        19
                            Paper           41.625713         1        39
                            Storage        242.032470         2       184
                            Supplies        31.596413         3        40
            Technology      Accessories     92.419334         6        30
                            Copiers        379.827906         0       261
                            Machines       326.036808        74       263
                            Phones         501.795974         3       407
Zimbabwe    Furniture       Bookcases       24.748737       109       181
                            Chairs         408.707720        56      1087
                            Furnishings      0.000000        20        22
                            Tables                NaN       275       275
            Office Supplies Appliances      74.808645        50       284
                            Art             28.982753         5       133
                            Binders         10.791060         0        89
                            Envelopes       14.536162         9        82
                            Fasteners        1.732051         5         9
                            Labels           5.560276         2        18
                            Paper           11.474610        15        74
                            Storage         51.879668         6       124
                            Supplies        25.031314        12        55
            Technology      Accessories           NaN        59        59
                            Copiers        205.060967       257       371
                            Machines        42.696604        20       173
                            Phones          56.568542        47       169


                                          mean_value   std_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases     475.000000  527.501659
                            Chairs        200.500000  219.910209
                            Furnishings    32.333333   32.240761
                            Tables        415.000000  332.555259
            Office Supplies Appliances    280.000000         NaN
                            Art            33.250000   30.761177
                            Binders        21.000000   20.109699
                            Envelopes      39.333333   40.253364
                            Fasteners       2.000000    0.000000
                            Labels         13.333333   10.969655
                            Paper          14.000000   18.832596
                            Storage        46.000000   22.671568
                            Supplies       56.333333   43.431939
            Technology      Accessories   112.000000  224.854397
                            Copiers         5.500000    2.121320
                            Machines       13.000000         NaN
                            Phones        236.500000  199.011725
Albania     Furniture       Bookcases     120.500000  115.258405
                            Furnishings     3.000000         NaN
            Office Supplies Art             9.666667   12.503333
                            Binders         0.500000    0.707107
                            Labels          2.000000         NaN
                            Storage        35.000000   24.020824
            Technology      Machines      129.000000  182.433550
                            Phones         31.000000   12.727922
Algeria     Furniture       Bookcases     146.636364  146.778250
                            Chairs         36.500000   16.416455
                            Furnishings    16.000000   18.228706
                            Tables        121.000000         NaN
            Office Supplies Appliances    113.750000  169.751709
...                                              ...         ...
Zambia      Office Supplies Appliances     46.333333   50.246061
                            Art            36.500000   45.399339
                            Binders        11.444444   13.473224
                            Envelopes      33.500000   47.035093
                            Fasteners       7.250000    7.274384
                            Labels          6.500000    6.220932
                            Paper          16.000000   16.552945
                            Storage        52.500000   52.850733
                            Supplies       21.500000   16.010413
            Technology      Accessories    17.000000   10.165300
                            Copiers        67.571429   87.699976
                            Machines      196.000000  105.825328
                            Phones        135.200000  175.334537
Zimbabwe    Furniture       Bookcases     145.000000   50.911688
                            Chairs        571.500000  729.027091
                            Furnishings    21.000000    1.414214
                            Tables        275.000000         NaN
            Office Supplies Appliances    156.000000  118.541132
                            Art            41.833333   43.348451
                            Binders        13.083333   25.328598
                            Envelopes      34.600000   30.451601
                            Fasteners       7.666667    2.309401
                            Labels          6.750000    7.544314
                            Paper          36.750000   25.747168
                            Storage        51.111111   43.149289
                            Supplies       37.166667   15.917496
            Technology      Accessories    59.000000         NaN
                            Copiers       314.000000   80.610173
                            Machines       76.500000   72.958893
                            Phones        108.000000   86.267027

[2009 rows x 8 columns]